//Nos da un string concreto según se pase un string (ej.solid), un numero (ej.10px) o un color (ej. #fff).
@function properties-key-names($args) {
	@each $arg in $args{
		@if (type-of($arg) == string) and ($arg != 'transparent') {
			 @return -style;
		}
		@else if (type-of($arg) == number) {
					@return -width;
				}
		@else  {
			@return -color;
		}
	}
}

//Elimina el primer elemento del listado 
@function no-first($var){
	$var:reject($var, 'top','bottom','left','right','all');
	@return $var;
}

//borders(all 1px solid red, top 1px solid red,	right 1px solid red, bottom 1px solid red, left 1px solid red,)
//en cualquier orden con los valores deseados siempre incluyendo el prefijo coordenada
@mixin nborder($args...){ 
	
	//numero de sublistados(coordenadas) en el listado
	$number-args:length($args);
	
	//para cada sublistado
	@for $i from 1 through $number-args{
		
		//sublistado
		$subargs:nth($args, $i);
		
		//sublistado limpio (sin el prefijo coordenada)
		$cleansubargs:no-first($subargs);
		
		//Prefijo coordenada con - (-all, -top, -right, -bottom, -left) 
		$coordinates-key-names:'-' + nth($subargs, 1);
		
		//Coordenada correspondiente (-top, -right, -bottom o -left) excepto -all
		$coordinates-key-name: if($coordinates-key-names != '-all', $coordinates-key-names, null);
		
		//Propiedad correspondiente (-style, -width o -color) cuando no hay 3 elementos en el sublistado limpio.
		$properties-key-name: if(length($cleansubargs) != 3, properties-key-names($cleansubargs), null);
		
		//Si no hay 3 elementos en el sublistado limpio, creamos una propiedad por cada valor.
		@if (length($cleansubargs) != 3) {
			@each $arg in ($cleansubargs) {
				
				@if ($arg != first_value_of($subargs)) and (type-of($arg) == string) and ($arg != 'transparent') {
				 $properties-key-name: -style;
				}
				@else if ($arg != first_value_of($subargs)) and(type-of($arg) == number) {
					$properties-key-name: -width;
				}
				@else if ($arg != first_value_of($subargs)) and(type-of($arg) == color) or ($arg == 'transparent')  {
					$properties-key-name: -color;
				}
				@else {
					$properties-key-name: null;
				}
				
				border#{$coordinates-key-name}#{$properties-key-name}:$arg;
			}
		}
		//Si hay 3 elementos en el sublistado limpio, creamos una propiedad por todos los valores.
		@else {
			border#{$coordinates-key-name}#{$properties-key-name}:$cleansubargs;
		}	
	}
}