
// basic colors
//---------------------------------------------

	$whiteClr:				#ffffff !default;
	
	$greyClr:				#cccccc !default;
	$grey2Clr:			#b6b6b6 !default;
	$grey3Clr:			#373737 !default;
	$grey4Clr:			#232323 !default;
	$grey5Clr:			#181818 !default;
	$grey6Clr:			#2b2b2b !default;
	$grey7Clr:			#1a1a1a !default;
	
	$blueClr:				#1d5682 !default;
	$blue2Clr:			#6698bf !default;
	$blue3Clr:			#0c2336 !default;
	
	$orangeClr:			#f97500 !default;
	$orange2Clr:		#733600 !default; //brown
	
	$greenClr:			#5f8320 !default;
	$green2Clr:			#324511 !default;
	
	$turquoiseClr:		#008f96 !default;
	$turquoise2Clr:	#00464a !default;
	
	$yellowClr:			#e0a61a !default;
	$yellow2Clr:			#6b4f0d !default;
	
	
	
	
// specific colors
//---------------------------------------------------
	$logoClr:				$blueClr;
	
	// nav
	$mainNavClr:	    	$grey3Clr;
	$mainNavBgClr:		$grey4Clr;
	$mainNavBr1Clr:		$grey5Clr;
	$mainNavBr2Clr:		$grey6Clr;
	$langActiveClr:			$greyClr;
	$langSelectedTablet:			$grey7Clr;
	
	// who
	$whoMainClr:		$turquoiseClr;
	$whoSdClr:			$turquoise2Clr;
	
	// what
	$whatMainClr:		$orangeClr;
	$whatSdClr:			$orange2Clr;
	
	// how
	$howMainClr:		$greenClr;
	$howSdClr:			$green2Clr;
	
	// where
	$whereMainClr:	$yellowClr;
	$whereSdClr:		$yellow2Clr;
	
	// info
	$infoMainClr:		$blueClr;
	
	// carrousel elements navs elements
	$crrslENavEClr:	$whiteClr;	
