//media breaks
$phone-panoramic:					480px;
$tablet:										768px;
$web:										1003px;

@mixin media($args...) {
	@if length($args) == 2 {
		@media (min-width:nth($args, 1)) and (max-width:(nth($args, 2)) - 1px) {
			@content;
		}
	}
	@if length($args) == 1 {
		@media only screen and (min-width:$args) {
			@content;
		}
	}
		
}