@mixin reset-box {
	margin:0;
	padding:0;
	border:0;
	@include cbProperty(box-sizing,border-box, $opera:false,$ms:false);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

//soluciona movimiento horizontal del contenedor para areas con poco contenido vertical
@mixin reset-html {
	height:100%;
	position:relative;
	width:100%;
}

//posiciona el body ya que contiene al footer
@mixin reset-body {
	font-size:$fS;
	font-family:$fF;
	position:relative;
	vertical-align:baseline;	
	font-weight: normal;
	line-height:1.2em;
	height: 100%;
}

@mixin reset-list {
	list-style:none;
	margin:0;
	padding:0;
}
@mixin reset-links {
  text-decoration:none;
  cursor:pointer;
  color: inherit;
  @include cbProperty(transition, (color 0.2s linear, background-color 0.2s linear));
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
@mixin reset-links-hover {
  //color:$greenClr;
  cursor: pointer;
}

@mixin reset-texts {
	margin: 1.1em 0;
	color: inherit;
	line-height: 1.4em;
}

@mixin reset-titles {
	font-weight: normal;
}

//reset forms from bootstrap
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible; // Inner spacing ie IE6/7
  line-height: normal; // FF3/4 have !important on line-height in UA stylesheet
}
button::-moz-focus-inner,
input::-moz-focus-inner { // Inner padding and border oddities in FF3/4
  padding: 0;
  border: 0;
}
button,
html input[type="button"], // Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls.
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; // Corrects inability to style clickable `input` types in iOS.
    cursor: pointer; // Improves usability and consistency of cursor style between image-type `input` and others.
}

select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"],
 {
    cursor: pointer; // Improves usability and consistency of cursor style between image-type `input` and others.
    -webkit-appearance:none;
}
input[type="search"] { // Appearance in Safari/Chrome
  @include ctb-box-sizing(content-box);
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="text"],
textarea {
  -webkit-appearance: none; // Inner-padding issues in Chrome OSX, Safari 5
}
textarea {
  overflow: auto; // Remove vertical scrollbar in IE6-9
  vertical-align: top; // Readability and alignment cross-browser
}



//englobamos todos
@mixin reset {
	* {
		@include reset-box;
	}
	html {
		@include reset-html;
	}
	body {
		@include reset-body;
		
	}
	ul, ol, li, dt, dd, dl {
		@include reset-list;
	}
	a {
	  @include reset-links;
	  
	}
	a:hover {
	  @include reset-links-hover;
	  
	}
	h1, h2, h3, h4, h5, h6 {
		@include reset-titles;
	}
	p {
		@include reset-texts;
	}

}

//resethtml5
@mixin reset-html5 {
	#{elements-of-type(html5-block)} {
		display: block; } 
}
