// Heights
//--------------------------------------------
	
	// header
	//---------------------------------------
	$headerHeight:			54px;
	
		// logo
		$decoLogoHeight:	20px;
		
	//web nav elements
	$navWebHeight:			102px;
	
	// fadeCarrousel
	//---------------------------------------
	$crrslPhonePaddingTop: 246px;

// Widths
//----------------

	// logo
	$logoWidth:				224px;
	$decoLogoWidth:		12px;
	