// general
//---------------------

	// weight


	// sizes
	$fS13:	13px;
	$fS15:	15px;
	$fS16:	16px;
	$fS18:	18px;
	
	// families
	$fF:	"Open Sans",Arial,Helvetica,sans-serif;
	$fS:	$fS18 !default;

	$fFSd:	"Lora",Arial,Helvetica,sans-serif;
	$fSSd:	$fS18 !default;

// specific
//---------------------	

	// titles
	$fSH1Phone: $fS16;
	$fSH1: $fS18;
	$fSH2: $fS18;
	$fSH3: $fS15;
	
	// main Nav
	$fSNavE:	$fS13;
	
	// carrousel Nav
	$fSCrrslENavE:	$fS13;