// Box sizing
@mixin ctb-box-sizing($boxmodel) {
  -webkit-box-sizing: $boxmodel;
     -moz-box-sizing: $boxmodel;
          box-sizing: $boxmodel;
}

//background and text vcolors
@mixin colors($bg,$color){
	background-color:$bg;
	color:$color;
}
//box sixe (x = y)
@mixin reg-box-size($size...){
  width:$size;
  height:$size;
}

//box size (x, y)
@mixin box-size($x, $y){
  width:$x;
  height:$y;
}

// cb
@mixin cbProperty($property, $value, $moz: true,  $ms:true, $opera: true, $official: true, $webkit:true) {
	@if $webkit {
		-webkit-#{$property}: $value; 
	}
	@if $moz {
		-moz-#{$property}: $value; 
	}
	@if $ms {
		-ms-#{$property}:$value;
	}
	@if $opera {
		-o-#{$property}: $value;
	} 
	@if $official {
		#{$property}: $value;
	} 
}

//IE7
@mixin ie7{
	.lte-ie7{
		@content;
	}
}

//IE8
@mixin ie8{
	.lte-ie8{
		@content;
	}
}