button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle; }

button,
input {
  *overflow: visible;
  line-height: normal; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
  -webkit-appearance: none; }

input[type="search"] {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="text"],
textarea {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  height: 100%;
  position: relative;
  width: 100%; }

body {
  font-size: 18px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  position: relative;
  vertical-align: baseline;
  font-weight: normal;
  line-height: 1.2em;
  height: 100%; }

ul, ol, li, dt, dd, dl {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  transition: color 0.2s linear, background-color 0.2s linear;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

a:hover {
  cursor: pointer; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

p {
  margin: 1.1em 0;
  color: inherit;
  line-height: 1.4em; }

h1 {
  font-size: 18px; }

h2 {
  font-size: 18px; }

h3 {
  font-size: 15px; }

.logo {
  font-size: 16px;
  color: #1d5682;
  max-width: 224px;
  margin: 8px 0 19px 20px; }

.textLogo {
  padding-top: 9px; }

.navTxt {
  margin-left: 10px;
  transition: color .4s linear; }

.langAct {
  color: #cccccc; }

.lang:hover {
  color: white; }

.navWho:hover .navWhoTxt, .navTxtAct .navWhoTxt {
  color: #008f96; }

.navHow:hover .navHowTxt, .navTxtAct .navHowTxt {
  color: #5f8320; }

.navWhat:hover .navWhatTxt, .navTxtAct .navWhatTxt {
  color: #f97500; }

.navWhere:hover .navWhereTxt, .navTxtAct .navWhereTxt {
  color: #e0a61a; }

.navInfo:hover .navInfoTxt, .navTxtAct .navInfoTxt {
  color: #1d5682; }

.crrslEClaim {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 29px 20px;
  font-family: "Lora", Arial, Helvetica, sans-serif;
  font-style: italic;
  line-height: 1.4em;
  margin-bottom: 20px; }

.homeWhoClaim {
  color: #008f96; }

.homeWhatClaim {
  color: #f97500; }

.homeHowClaim {
  color: #5f8320; }

.homeWhereClaim {
  color: #e0a61a; }

.crrslWhoNavClaim, .crrslWhatNavClaim, .crrslHowNavClaim, .crrslWhereNavClaim {
  padding: 30px 20px 10px 20px; }

.crrslWhoNavClaim {
  color: #00464a; }

.crrslWhatNavClaim {
  color: #733600; }

.crrslHowNavClaim {
  color: #324511; }

.crrslWhereNavClaim {
  color: #6b4f0d; }

.subNavE {
  font-size: 13px;
  color: white;
  width: 100%;
  padding: 10px 20px; }

::-moz-selection {
  background: #cccccc; }

::selection {
  background: #cccccc; }

::-moz-selection {
  background: #cccccc; }

.pageWrapp {
  min-height: 100%;
  margin: 0 auto; }

.mainHeader {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 54px;
  z-index: 20; }

.opaque {
  background-color: white; }

.decoLogo {
  width: 12px;
  height: 20px;
  background: transparent url("../images/s1.png") left top no-repeat; }

.phoneNavControl {
  width: 53px;
  height: 54px; }

.navOpenDeco {
  width: 13px;
  height: 10px;
  background: transparent url("../images/s1.png") left -29px no-repeat;
  margin: 22px 20px; }

.navCloseDeco {
  width: 13px;
  height: 12px;
  background: white url("../images/s1.png") left -39px no-repeat;
  margin: 22px 20px;
  transition: 0.1s opacity linear; }

.nav {
  padding-top: 54px;
  width: 100%;
  overflow: hidden; }

.navE {
  width: 100%;
  height: 50px;
  background-color: #232323;
  color: #373737;
  padding: 8px 0;
  border-top: 1px solid #181818;
  border-bottom: 1px solid #2b2b2b;
  font-size: 13px; }
  .navE:hover .onTop {
    opacity: 1;
    transition: opacity .5s linear;
    filter: alpha(opacity=1); }

.navLang {
  padding-top: 13px; }

.navWhoDecoHelper, .navWhoDeco, .navWhoDecoHover {
  width: 30px;
  height: 36px; }

.navWhatDecoHelper, .navWhatDeco, .navWhatDecoHover {
  width: 33px;
  height: 31px; }

.navHowDecoHelper, .navHowDeco, .navHowDecoHover {
  width: 24px;
  height: 32px; }

.navWhereDecoHelper, .navWhereDeco, .navWhereDecoHover {
  width: 34px;
  height: 32px; }

.navInfoDecoHelper, .navInfoDeco, .navInfoDecoHover {
  width: 15px;
  height: 32px; }

.navWhoDeco {
  background: transparent url("../images/s2.png") left top no-repeat; }

.navWhatDeco {
  background: transparent url("../images/s2.png") -30px top no-repeat; }

.navHowDeco {
  background: transparent url("../images/s2.png") -63px top no-repeat; }

.navWhereDeco {
  background: transparent url("../images/s2.png") -87px top no-repeat; }

.navInfoDeco {
  background: transparent url("../images/s2.png") -121px top no-repeat; }

.navWhoDecoHover {
  background: transparent url("../images/s2.png") left -36px no-repeat; }

.navWhatDecoHover {
  background: transparent url("../images/s2.png") -30px -31px no-repeat; }

.navHowDecoHover {
  background: transparent url("../images/s2.png") -63px -32px no-repeat; }

.navWhereDecoHover {
  background: transparent url("../images/s2.png") -87px -32px no-repeat; }

.navInfoDecoHover {
  background: transparent url("../images/s2.png") -121px -32px no-repeat; }

.langSep {
  background-color: #373737;
  width: 12px;
  height: 1px;
  margin: 0 12px; }

.subNavHelper:before {
  position: absolute;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  left: 20px;
  top: -12px;
  content: ' ';
  z-index: 10; }
.subNavHelper li:first-child a {
  padding-top: 20px; }
.subNavHelper li:last-child a {
  padding-bottom: 20px; }

.whoNavHelper {
  background-color: #008f96; }
  .whoNavHelper:before {
    border-bottom-color: #008f96; }

.whatNavHelper {
  background-color: #f97500; }
  .whatNavHelper:before {
    border-bottom-color: #f97500; }

.howNavHelper {
  background-color: #5f8320; }
  .howNavHelper:before {
    border-bottom-color: #5f8320; }

.whereNavHelper {
  background-color: #e0a61a; }
  .whereNavHelper:before {
    border-bottom-color: #e0a61a; }

.crrslE:nth-child(n) {
  padding-top: 246px;
  background-color: transparent;
  background-position: left top;
  background-repeat: no-repeat; }
.crrslE:nth-child(1) {
  padding-top: 300px; }

.homeWho {
  background-image: url("../images/bg-home-01.jpg"); }

.homeWhat {
  background-image: url("../images/bg-home-02.jpg"); }

.homeHow {
  background-image: url("../images/bg-home-03.jpg"); }

.homeWhere {
  background-image: url("../images/bg-home-04.jpg"); }

.crrslENav {
  padding-bottom: 10px; }

.moveBottom {
  -webkit-transform: translateY(354px);
  transform: translateY(354px);
  transition: 0.5s linear all; }

.moveTop {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: 0.5s linear all; }

.abs {
  position: absolute; }

.rel {
  position: relative; }

.left {
  float: left; }

.right {
  float: right; }

.onTop {
  top: 0;
  left: 0; }

.clear:before, .clear:after {
  overflow: hidden;
  height: 0;
  content: '';
  display: block; }
.clear:after {
  clear: both; }

.upper {
  text-transform: uppercase; }

.center {
  text-align: center; }

.hide, .tabletShow, .webShow {
  display: none; }

.phoneShow {
  display: block; }

.inline, .phoneShowInline {
  display: inline-block;
  vertical-align: middle; }

.hideS {
  opacity: 0;
  filter: alpha(opacity=0); }

.noHeight {
  height: 0; }

@media only screen and (min-width: 480px) {
  .logo {
    font-size: 18px; }

  .homeWho {
    background-image: url("../images/bg-ph-break-home-01.jpg"); }

  .homeWhat {
    background-image: url("../images/bg-ph-break-home-02.jpg"); }

  .homeHow {
    background-image: url("../images/bg-ph-break-home-03.jpg"); }

  .homeWhere {
    background-image: url("../images/bg-ph-break-home-04.jpg"); } }
@media only screen and (min-width: 768px) {
  .logo {
    float: none;
    margin: 8px auto; }

  .nav {
    top: 0;
    z-index: 30;
    position: absolute;
    overflow: visible; }

  .navHelper {
    float: left;
    width: 20%; }

  .navHelper2 {
    float: left;
    width: 10%; }

  .subNav {
    visibility: hidden;
    filter: alpha(opacity=0);
    opacity: 0;
    left: 0;
    transition: 0.5s linear opacity; }

  .navE {
    height: 58px;
    padding-top: 12px;
    border-left: 1px solid #181818;
    border-right: 1px solid #2b2b2b; }

  .navWho {
    padding-top: 10px; }

  .navHelper:hover .subNav {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=1); }

  .navLang {
    padding: 0; }

  .navLang li, .lang {
    width: 100%;
    height: 100%; }

  .lang {
    padding-top: 18px;
    display: inline-block; }

  .langAct {
    background-color: #1a1a1a; }

  .subNavHelper {
    position: absolute;
    width: 100%; }
    .subNavHelper li:first-child a {
      padding-top: 10px; }
    .subNavHelper li:last-child a {
      padding-bottom: 10px; }
    .subNavHelper li {
      float: left; }
    .subNavHelper span {
      max-width: 70px; }

  .whoNavHelper li {
    width: 20%; }
  .whoNavHelper a:hover {
    color: #00464a; }
  .whoNavHelper:before {
    left: 10%; }

  .whatNavHelper li {
    width: 25%; }
  .whatNavHelper a:hover {
    color: #733600; }
  .whatNavHelper:before {
    left: 30%; }

  .howNavHelper:before {
    left: 50%; }

  .whereNavHelper:before {
    left: 70%; }

  .subNavE, .navE {
    font-size: 11px; }

  .crrslWrapp {
    position: relative; }

  .crrslE {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center top;
    background-size: cover;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    transition: 0.5s linear opacity; }
    .crrslE:nth-child(n) {
      padding: 0; }

  .crrslOut {
    visibility: visible; }

  .crrslAct {
    opacity: 1;
    filter: alpha(opacity=1);
    visibility: visible;
    transition: 0.4s linear opacity; }

  .homeWho {
    background-image: url("../images/bg-wb-home-01.jpg"); }

  .homeWhat {
    background-image: url("../images/bg-wb-home-02.jpg"); }

  .homeHow {
    background-image: url("../images/bg-wb-home-03.jpg"); }

  .homeWhere {
    background-image: url("../images/bg-wb-home-04.jpg"); }

  .crrslEClaimHelper {
    position: absolute;
    bottom: 150px;
    width: 100%;
    text-align: center; }

  .crrslEClaim {
    background-color: transparent;
    color: white;
    text-align: center;
    margin: 0 auto;
    max-width: 530px;
    font-size: 40px;
    padding: 0; }

  .crrslCtrls {
    bottom: 70px;
    width: 100%;
    padding: 0 30px; }

  .crrslCtrlHelper {
    width: 25%;
    padding-right: 8px; }
    .crrslCtrlHelper span {
      opacity: 0;
      filter: alpha(opacity=0);
      color: white;
      transition: 0.2s linear opacity; }
    .crrslCtrlHelper a {
      width: 100%;
      padding: 8px 25px;
      border-bottom: 4px solid rgba(255, 255, 255, 0.5);
      transition: 0.2s linear border-color; }
      .crrslCtrlHelper a:hover span {
        opacity: 1;
        filter: alpha(opacity=1); }

  .crrslCtrlAct span {
    opacity: 1;
    filter: alpha(opacity=1); }

  .whoCrrslCtrl .crrslCtrlAct, .whoCrrslCtrl a:hover {
    border-bottom-color: #008f96; }

  .whatCrrslCtrl .crrslCtrlAct, .whatCrrslCtrl a:hover {
    border-bottom-color: #f97500; }

  .howCrrslCtrl .crrslCtrlAct, .howCrrslCtrl a:hover {
    border-bottom-color: #5f8320; }

  .whereCrrslCtrl .crrslCtrlAct, .whereCrrslCtrl a:hover {
    border-bottom-color: #e0a61a; }

  .phoneShow, .phoneShowInline, .webShow {
    display: none; }

  .tabletShow {
    display: inline-block; } }
@media only screen and (min-width: 1003px) {
  .mainHeader {
    height: 58px;
    padding-left: 98px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%; }

  .nav {
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    z-index: 30;
    position: absolute;
    overflow: visible;
    width: 98px;
    height: auto;
    padding-top: 0;
    background-color: #232323; }

  .navHelper, .navHelper2 {
    width: 100%;
    height: 102px; }

  .navLastHelper {
    border-bottom: 1px solid #181818; }

  .navTxt {
    width: 100%;
    margin: 10px 0 0 0; }

  .navE {
    height: 100%;
    position: relative; }

  .navDecoHelper {
    width: 58px;
    height: 58px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -29px;
    margin-top: -29px; }

  .navWhoDecoHelper, .navWhoDeco, .navWhoDecoHover {
    width: 36px;
    height: 42px; }

  .navWhatDecoHelper, .navWhatDeco, .navWhatDecoHover {
    width: 38px;
    height: 37px; }

  .navHowDecoHelper, .navHowDeco, .navHowDecoHover {
    width: 25px;
    height: 35px; }

  .navWhereDecoHelper, .navWhereDeco, .navWhereDecoHover {
    width: 36px;
    height: 35px; }

  .navInfoDecoHelper, .navInfoDeco, .navInfoDecoHover {
    width: 16px;
    height: 34px; }

  .navWhoDeco {
    background: transparent url("../images/s3.png") left top no-repeat; }

  .navWhatDeco {
    background: transparent url("../images/s3.png") -36px top no-repeat; }

  .navHowDeco {
    background: transparent url("../images/s3.png") -74px top no-repeat; }

  .navWhereDeco {
    background: transparent url("../images/s3.png") -99px top no-repeat; }

  .navInfoDeco {
    background: transparent url("../images/s3.png") -135px top no-repeat; }

  .navWhoDecoHover {
    background: transparent url("../images/s3.png") left -42px no-repeat; }

  .navWhatDecoHover {
    background: transparent url("../images/s3.png") -36px -37px no-repeat; }

  .navHowDecoHover {
    background: transparent url("../images/s3.png") -74px -35px no-repeat; }

  .navWhereDecoHover {
    background: transparent url("../images/s3.png") -99px -35px no-repeat; }

  .navInfoDecoHover {
    background: transparent url("../images/s3.png") -135px -34px no-repeat; }

  .navLang {
    position: absolute;
    height: 62px;
    bottom: 0;
    padding-top: 20px;
    border-top: 0 none; }
    .navLang li {
      width: auto;
      height: auto; }

  .lang {
    padding: 0; }

  .langAct {
    background-color: #232323; }

  .langSep {
    margin: 0 3px; }

  .subNav {
    left: 98px;
    width: 214px;
    padding: 20px 0; }

  .subNavHelper:before {
    left: -12px;
    top: 36px; }
  .subNavHelper li {
    width: 100%; }
  .subNavHelper span {
    max-width: 500px; }

  .whoNavHelper:before {
    border-bottom-color: transparent;
    border-right-color: #008f96; }

  .whatNavHelper:before {
    border-bottom-color: transparent;
    border-right-color: #f97500; }

  .howNavHelper:before {
    border-bottom-color: transparent;
    border-right-color: #5f8320; }

  .whereNavHelper:before {
    border-bottom-color: transparent;
    border-right-color: #e0a61a; }

  .whoNavHelper {
    top: 38px; }

  .whatNavHelper {
    top: 136px; }

  .content {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding-left: 98px; }

  .crrslEClaim {
    max-width: 880px;
    font-size: 38px; }

  .crrslCtrls {
    bottom: 70px;
    width: 100%;
    padding: 0 30px; }

  .webShowInline {
    display: inline-block;
    vertical-align: middle; }

  .webShow {
    display: block; } }
