// carrousel elements
.crrslE {

	&:nth-child(n) {
		padding-top: $crrslPhonePaddingTop;
		background-color: transparent;
		background-position: left top;
		background-repeat: no-repeat;
	}
	&:nth-child(1) {
		padding-top: $crrslPhonePaddingTop + $headerHeight;
	}
	
}

// carrousel elements background images
.homeWho {
	background-image:url('../images/bg-home-01.jpg');
}
.homeWhat {
	background-image:url('../images/bg-home-02.jpg');
}
.homeHow {
	background-image:url('../images/bg-home-03.jpg');
}
.homeWhere {
	background-image:url('../images/bg-home-04.jpg');
}

// carrousel elements navs (only phone view)
//-------------------------------------------------------------

	
	//carrousel navs
	.crrslENav {
		padding-bottom:10px; 
	}