
.mainHeader {
	background-color: rgba($whiteClr, .8);
	@include box-size(100%, $headerHeight);
	z-index:20;
}
.opaque {background-color: $whiteClr}

.decoLogo {
	@include box-size($decoLogoWidth, $decoLogoHeight);
	background: transparent url('../images/s1.png') left top no-repeat;
}