@mixin phone-panoramic {

	// header
	.logo {
		font-size: $fSH1;
	}
	
	// carrousel elements background images
	.homeWho {
		background-image:url('../images/bg-ph-break-home-01.jpg');
	}
	.homeWhat {
		background-image:url('../images/bg-ph-break-home-02.jpg');
	}
	.homeHow {
		background-image:url('../images/bg-ph-break-home-03.jpg');
	}
	.homeWhere {
		background-image:url('../images/bg-ph-break-home-04.jpg');
	}
	
}