// Min width 768
//-----------------
@include media($phone-panoramic) {
	@include phone-panoramic;	
}


// Min width 768
//-----------------
@include media($tablet) {
	@include tablet;	
}

// Min width 1003
//-----------------
@include media($web) {
	@include web;	
}