@mixin web {
	//header
	//------------------------------------------------------
	.mainHeader {
		height: 58px;
		padding-left: 98px;
		@include cbProperty(box-sizing,border-box, $opera:false,$ms:false);
		width: 100%;
	}
	
	// nav
	//------------------------------------------------------
	.nav {
		top:0;
		left:0;
		bottom:0;
		height: 100%;
		z-index: 30;
		position:absolute;
		overflow:visible;
		width:98px;
		height:auto;
		padding-top:0;
		background-color: $mainNavBgClr;
	}
	.navHelper, .navHelper2 {
		width: 100%;
		height: $navWebHeight;
	}
	.navLastHelper {
		border-bottom: 1px solid $mainNavBr1Clr;
	}

	.navTxt {
		width:100%;
		margin: 10px 0 0 0;
	}
	.navE {
		height: 100%;
		position: relative;
	}
	.navDecoHelper {
		@include reg-box-size(58px);
		position: absolute;
		top:50%;
		left:50%;
		margin-left: -29px;
		margin-top: -29px;
		
	}
	
		//nav elements deco phone
		
		// helpers
		
		.navWhoDecoHelper, .navWhoDeco, .navWhoDecoHover {
			@include box-size(36px, 42px);
		}
		.navWhatDecoHelper, .navWhatDeco, .navWhatDecoHover {
			@include box-size(38px, 37px);
		}
		.navHowDecoHelper, .navHowDeco, .navHowDecoHover {
			@include box-size(25px, 35px);
		}
		.navWhereDecoHelper, .navWhereDeco, .navWhereDecoHover {
			@include box-size(36px, 35px);
		}
		.navInfoDecoHelper, .navInfoDeco, .navInfoDecoHover {
			@include box-size(16px, 34px);
		}
		
		// icons
		
		.navWhoDeco {
			background: transparent url('../images/s3.png') left top no-repeat;
		}
		.navWhatDeco {
			background: transparent url('../images/s3.png') -36px top no-repeat;
		}
		.navHowDeco {
			background: transparent url('../images/s3.png') -74px top no-repeat;
		}
		.navWhereDeco {
			background: transparent url('../images/s3.png') -99px top no-repeat;
		}
		.navInfoDeco {
			background: transparent url('../images/s3.png') -135px top no-repeat;
		}
		
		// hovers
		
		.navWhoDecoHover {
			background: transparent url('../images/s3.png') left -42px no-repeat;
		}
		.navWhatDecoHover {
			background: transparent url('../images/s3.png')  -36px -37px no-repeat;
		}
		.navHowDecoHover {
			background: transparent url('../images/s3.png') -74px -35px no-repeat;
		}
		.navWhereDecoHover {
			background: transparent url('../images/s3.png') -99px -35px no-repeat;
		}
		.navInfoDecoHover {
			background: transparent url('../images/s3.png') -135px -34px no-repeat;
		}

		// lang
		//------------------------------------------------------
		
		.navLang {
			position: absolute;
			height: $navWebHeight - 40;
			bottom:0;
			padding-top: 20px;
			border-top: 0 none;
			li {
				width: auto;
				height:auto;
			}
		}
		.lang {
			padding: 0;
		}
		.langAct {
			background-color: $mainNavBgClr;
		}
		.langSep {
			margin: 0 3px;
		}
		
		//sub nav
		//------------------------------------------------------
		.subNav {
			left:98px;
			width:214px;
			padding: 20px 0;
		}
		
		.subNavHelper {
			&:before {
				left:-12px;
				top:36px;
			}
			li {
				width: 100%;
			}
			span {
				max-width: 500px;
			}
		}
		.whoNavHelper:before {
			border-bottom-color:transparent;
			border-right-color:$whoMainClr;
		}
		.whatNavHelper:before {
			border-bottom-color:transparent;
			border-right-color:$whatMainClr;
		}
		.howNavHelper:before {
			border-bottom-color:transparent;
			border-right-color:$howMainClr;
		}
		.whereNavHelper:before {
			border-bottom-color:transparent;
			border-right-color:$whereMainClr;
		}
		.whoNavHelper {
				top:38px;
			}
		.whatNavHelper {
				top:$navWebHeight + 34;
			}
	
	//carrousel
	//------------------------------------------------------
	.content {
		@include cbProperty(box-sizing,border-box, $opera:false,$ms:false);
		width: 100%;
		padding-left: 98px;
	}
	.crrslEClaim {
		max-width:880px;
		font-size: 38px;
	}
	.crrslCtrls {
		bottom:70px;
		width: 100%;
		padding: 0 30px;
	}
	
		//utilities
	//------------------------------------------------------
	.webShowInline {
		display: inline-block;
		vertical-align: middle;
	}
	.webShow {
		display: block;
	}

}