@mixin tablet {
	//header
	//-------------------------------------------------------
	.logo {
		float: none;
		margin:8px auto;
	}
	
	// nav
	//------------------------------------------------------
	.nav {
		top:0;
		z-index: 30;
		position:absolute;
		overflow:visible;
	}
		//nav elements helper
		//------------------------------------------------------
		.navHelper {
			float:left;
			width: (100% / 5);
		}
		.navHelper2 {
			float:left;
			width: (100% / 10);
		}
		.subNav {
			visibility:hidden;
			 filter: alpha(opacity = 0);
			opacity:0;
			left:0;
			@include cbProperty(transition, .5s linear opacity)
			}
			
		.navE {
			height: 58px;
			padding-top: 12px;
			border-left:1px solid $mainNavBr1Clr;
			border-right:1px solid $mainNavBr2Clr;
		}
		.navWho {
			padding-top: 10px;
		}
		.navHelper:hover .subNav {
				visibility:visible;
				opacity:1;
				 filter: alpha(opacity = 1);
			}
		// nav lang
		//------------------------------------------------------
		.navLang {
			padding:0;
		}
		.navLang li, .lang {
			@include reg-box-size(100%);
		}
		.lang {
			padding-top:18px;
			display: inline-block;
		}
		.langAct {
			background-color: $langSelectedTablet
		}
		
		//sub nav
		//---------------------------
		.subNavHelper {
			position:absolute;
			width:100%;
			li:first-child a{
				padding-top: 10px;
			}
			li:last-child a{
				padding-bottom: 10px;
			}
			 li {
				 float:left;
			}
			span {
				max-width: 70px;
			}
		}
		.whoNavHelper {
			li {
				width:(100% / 5);
			}
			a:hover {
				color:$whoSdClr;
			}
			&:before {
				left:10%;
			}
		}
		.whatNavHelper{
			li {
				width:(100% / 4);
			}
			a:hover {
				color:$whatSdClr;
			}
			&:before {
				left:30%;
			}
		}

		.howNavHelper:before {
			left:50%;
		}
		.whereNavHelper:before {
			left:70%;
		}
		.subNavE, .navE {
			font-size: 11px;
		}

	// carrousel
	//-----------------------------------------
	.crrslWrapp {
		position:relative;
	}
	.crrslE {
		position:absolute;
		width:100%;
		height:100%;
		background-position: center top;
		background-size:cover;
		opacity:0;
		filter: alpha(opacity = 0);
		visibility:hidden;
		@include cbProperty(transition, .5s linear opacity);
		&:nth-child(n) {
			padding: 0;
		}

	}

	.crrslOut {
		visibility:visible;
	}
	.crrslAct {
		opacity:1;
		filter: alpha(opacity = 1);
		visibility:visible;
		@include cbProperty(transition, .4s linear opacity);
	}

	// carrousel elements background images
	//------------------------------------------------------
	.homeWho {
		background-image:url('../images/bg-wb-home-01.jpg');
	}
	.homeWhat {
		background-image:url('../images/bg-wb-home-02.jpg');
	}
	.homeHow {
		background-image:url('../images/bg-wb-home-03.jpg');
	}
	.homeWhere {
		background-image:url('../images/bg-wb-home-04.jpg');
	}

	// carrousel elements claims
	//------------------------------------
	.crrslEClaimHelper {
		position:absolute;
		bottom:150px;
		width:100%;
		text-align: center;
	}
	.crrslEClaim {
		background-color:transparent;
		color:$whiteClr;
		text-align:center;
		margin:0 auto;
		max-width:530px;
		font-size:40px;
		padding: 0;
	}
	
	// carrousel controls
	.crrslCtrls {
		bottom:70px;
		width: 100%;
		padding: 0 30px;
	}
	.crrslCtrlHelper {
		width: (100% / 4);
		padding-right: 8px;
		span {
			opacity:0;
			filter: alpha(opacity = 0);
			color: $whiteClr;
			@include cbProperty(transition, .2s linear opacity);
		}
		a {
			width:100%;
			padding: 8px 25px;
			border-bottom: 4px solid rgba($whiteClr, .5);
			@include cbProperty(transition, .2s linear border-color);
			&:hover span {
				opacity:1;
				 filter: alpha(opacity = 1);
			}
		}
	}
	.crrslCtrlAct span {
			opacity:1;
			filter: alpha(opacity = 1);
		}
	.whoCrrslCtrl .crrslCtrlAct,  .whoCrrslCtrl  a:hover{
		border-bottom-color:$whoMainClr;
	}
	.whatCrrslCtrl .crrslCtrlAct,  .whatCrrslCtrl  a:hover{
		border-bottom-color:$whatMainClr;
	}
	.howCrrslCtrl .crrslCtrlAct,  .howCrrslCtrl  a:hover{
		border-bottom-color:$howMainClr;
	}
	.whereCrrslCtrl .crrslCtrlAct,  .whereCrrslCtrl  a:hover{
		border-bottom-color:$whereMainClr;
	}


	// utilities
	//------------------------------------------------------
	.phoneShow , .phoneShowInline, .webShow {
		display:none;
	}
	.tabletShow {
		display: inline-block;
	}
	
}