//nav Phone
//---------------------------------------------------

	// nav control
	.phoneNavControl {
		@include box-size(53px, 54px);
	}
	.navOpenDeco {
		@include box-size(13px, 10px);
		background: transparent url('../images/s1.png') left -29px no-repeat;
		margin: 22px 20px;
	}
	.navCloseDeco {
		@include box-size(13px, 12px);
		background: $whiteClr url('../images/s1.png') left -39px no-repeat;
		margin: 22px 20px;
		@include cbProperty(transition,.1s opacity linear);
	}
	
	// nav phone
	.nav {
		padding-top:$headerHeight;
		width:100%;
		overflow: hidden;
	}
	
	@mixin iconMenuActive {
			opacity:1;
			transition:opacity .5s linear;
			filter: alpha(opacity = 1)
	}
	
	// nav elements phone
	.navE {
		@include box-size(100%, 50px);
		@include colors($mainNavBgClr, $mainNavClr);
		padding: 8px 0;
		border-top:1px solid $mainNavBr1Clr;
		border-bottom:1px solid $mainNavBr2Clr;
		font-size: $fSNavE;
		&:hover .onTop {
			@include iconMenuActive;
		}
	}

	
	//nav elements phone paddings
	.navLang {
		padding-top: 13px;
	}
	
	//nav elements deco phone
		
		// helpers
		
		.navWhoDecoHelper, .navWhoDeco, .navWhoDecoHover {
			@include box-size(30px, 36px);
		}
		.navWhatDecoHelper, .navWhatDeco, .navWhatDecoHover {
			@include box-size(33px, 31px);
		}
		.navHowDecoHelper, .navHowDeco, .navHowDecoHover {
			@include box-size(24px, 32px);
		}
		.navWhereDecoHelper, .navWhereDeco, .navWhereDecoHover {
			@include box-size(34px, 32px);
		}
		.navInfoDecoHelper, .navInfoDeco, .navInfoDecoHover {
			@include box-size(15px, 32px);
		}
		
		// icons
		
		.navWhoDeco {
			background: transparent url('../images/s2.png') left top no-repeat;
		}
		.navWhatDeco {
			background: transparent url('../images/s2.png') -30px top no-repeat;
		}
		.navHowDeco {
			background: transparent url('../images/s2.png') -63px top no-repeat;
		}
		.navWhereDeco {
			background: transparent url('../images/s2.png') -87px top no-repeat;
		}
		.navInfoDeco {
			background: transparent url('../images/s2.png') -121px top no-repeat;
		}
		
		// hovers
		
		.navWhoDecoHover {
			background: transparent url('../images/s2.png') left -36px no-repeat;
		}
		.navWhatDecoHover {
			background: transparent url('../images/s2.png')  -30px -31px no-repeat;
		}
		.navHowDecoHover {
			background: transparent url('../images/s2.png') -63px -32px no-repeat;
		}
		.navWhereDecoHover {
			background: transparent url('../images/s2.png') -87px -32px no-repeat;
		}
		.navInfoDecoHover {
			background: transparent url('../images/s2.png') -121px -32px no-repeat;
		}
		
		//nav languages separator
		
			.langSep {
				background-color: $mainNavClr;
				width:12px;
				height: 1px;
				margin: 0 12px;
			}
			
		//sub nav
		//------------------------------------------------------
		.subNavHelper {
			&:before {
				position: absolute;
				width: 0;
				height: 0;
				border: 6px solid transparent;
				left:20px;
				top:-12px;
				content:' ';
				z-index: 10;
			}
			li:first-child a{
				padding-top: 20px;
			}
			li:last-child a{
				padding-bottom: 20px;
			}
		}
		.whoNavHelper {
			background-color: $whoMainClr;
			&:before {
				border-bottom-color:$whoMainClr;
			}
		}
		.whatNavHelper {
			background-color: $whatMainClr;
			&:before {
				border-bottom-color:$whatMainClr;
			}
			
		}
		.howNavHelper {
			background-color: $howMainClr;
			&:before {
				border-bottom-color:$howMainClr;
			}
		}
		.whereNavHelper {
			background-color: $whereMainClr;
			&:before {
				border-bottom-color:$whereMainClr;
			}
		}