
// basic
//------------------------------------
h1{font-size: $fSH1;}
h2{font-size: $fSH2;}
h3{font-size: $fSH3;}

// h1 logo
//------------------------------------
	.logo {
		font-size: $fSH1Phone;
		color: $logoClr;
		max-width: $logoWidth;
		margin:8px 0 19px 20px;
	}
	.textLogo {
		padding-top: 9px;
	}
	
// nav
//------------------------------------
.navTxt {
	margin-left: 10px;
	transition:color .4s linear;
}
	// language selectors
	.langAct {
		color: $langActiveClr;
	}
	.lang:hover {
		color:$whiteClr;
	}
	// nav elements hover and active
	.navWho:hover .navWhoTxt, .navTxtAct  .navWhoTxt{
			color:$whoMainClr;
	}
	.navHow:hover .navHowTxt, .navTxtAct  .navHowTxt {
			color:$howMainClr;
	}
	.navWhat:hover .navWhatTxt, .navTxtAct  .navWhatTxt {
			color:$whatMainClr;
	}
	.navWhere:hover .navWhereTxt, .navTxtAct  .navWhereTxt {
			color:$whereMainClr;
	}
	.navInfo:hover .navInfoTxt, .navTxtAct  .navInfoTxt {
			color:$infoMainClr;
	}
// carrousel elements claims
//------------------------------------
.crrslEClaim {
	background-color:rgba($whiteClr, .9);
	padding: 29px 20px;
	font-family: $fFSd;
	font-style: italic;
	line-height:1.4em;
	margin-bottom: 20px;
}
.homeWhoClaim {
	color:$whoMainClr;
}
.homeWhatClaim {
	color:$whatMainClr;
}
.homeHowClaim {
	color:$howMainClr;
}
.homeWhereClaim {
	color:$whereMainClr;
}

	// carrousel elements navs claims
	.crrslWhoNavClaim, .crrslWhatNavClaim, .crrslHowNavClaim, .crrslWhereNavClaim {
		padding: 30px 20px 10px 20px;
	}
	.crrslWhoNavClaim {
		color: $whoSdClr;
	}
	.crrslWhatNavClaim {
		color: $whatSdClr;
	}
	.crrslHowNavClaim {
		color: $howSdClr; 
	}
	.crrslWhereNavClaim {
		color: $whereSdClr;
	}
	
	// carrousel elements navs links
	.subNavE {
		font-size: $fSCrrslENavE;
		color: $crrslENavEClr;
		width:100%;
		padding: 10px 20px;
	}
	
	// others
	
	::selection {
		background: $greyClr; 
	}
	::-moz-selection {
		background: $greyClr; 
	}