// positions
//-------------------
.abs {
	position:absolute;
}
.rel {
	position:relative;
}
.left {
	float: left;
}
.right {
	float: right;
}
.onTop {
	top:0;
	left:0;
}
.clear{
    &:before, 
    &:after {
      overflow:hidden;
      height:0;
      content:'';
      display:block;
    }
    &:after {
      clear: both;
    }
  }

// text
//----------------------
.upper {
	text-transform: uppercase;
}
.center {
	text-align: center;
}

// visibility
//----------------------

.hide, .tabletShow, .webShow  {
	display: none;
}
.phoneShow {
	display:block;
}
.inline, .phoneShowInline {
	display:inline-block;
	vertical-align: middle;
}
.hideS {
	opacity:0;
	 filter: alpha(opacity = 0);
}
.noHeight {
	height: 0;
}
